gunicorn discards repeated headers

gunicorn currently discards header values if there is more than one header with the same name. The correct behaviour is to combine them with commas.

According to [RFC 2616, section 4.2](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

Multiple message-header fields with the same field-name MAY be present in a message if and only if the entire field-value for that header field is defined as a comma-separated list [i.e., #(values)]. It MUST be possible to combine the multiple header fields into one "field-name: field-value" pair, without changing the semantics of the message, by appending each subsequent field-value to the first, each separated by a comma. The order in which header fields with the same field-name are received is therefore significant to the interpretation of the combined field value, and thus a proxy MUST NOT change the order of these field values when a message is forwarded.
